/* Universal elements */
body {
  background-color: #F5EDE2;
}

/* Main header formatting */
header > div > h1 {
  background: #D56B8F;
  padding: 10px;
  margin: 10px 40px 10px 60px;
  width 100px;
  height 100px;
  font-family: 'NevisonCasd';
  font-size: 50px;
  text-align: center;
} 

/* Navigation formatting */
header > div > nav {
  margin: 0 0 10px 10px;
  text-align: center;
  font-size: 32px;
}

header > div > nav > a {
  padding: 0 15px 10px 20px;
  text-decoration: none;
  font-family: 'Nevisoncasd';
  color: black;
}

/* Line divider formatting */
hr {
  height: 5px;
  background-color: #D56B8F;
  border: #D56B8F;
}

/* Turning the image into an oval */
.image-oval {
  display: block;
  border-radius: 50%;
  padding: 30px 10px 30px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-family: 'arial';
}

/* Formatting sections */
.formatplaces {
  padding-left: 30px;
  padding-right: 30 px;
  font-family: 'arial', sans-serif;
  text-align: justify;
}

.formatintro {
  padding-left: 30px;
  padding-right: 30px;
  font-family: "arial", sans-serif;
  text-align: justify;
}

.formatabout {
  padding-left: 30px;
  padding-right: 30px;
  font-family: "arial", sans-serif;
  text-align: justify;
}

.formatcontact {
  padding-left: 30px;
  padding-right: 30px;
  font-family: "arial"; sans-serif;
  text-align: justify;
}

/* Formatting footer */
footer {
  background: black;
  margin: 50px 0 0 0;
  padding: 5px 0;
}

footer > div > nav > p {
  color: white;
  font-size: 20px;
  text-align: center;
}
